@media screen and (min-width:1920px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway';
    }

    #part-7 .header-menu{
        display: none;
    }

    #part-7{
        background-color: rgb(217, 178, 217);
        padding-bottom: 5%;
    }

    #part-7 .header{
        background-color: rgb(217, 178, 217);
    }

    #part-7 .footer{
        display: none;
    }
    
    .rankings{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }

    .rankings ol li:hover{
        background-color: purple;
        color: white;
        scale: 1.2;
        transition: .6s;
    }

    .leagueList{
        background-color: rgba(0, 0, 0, 0.274);
        padding: 2%;
        margin-right: 2%;
    }

    .countrylist{
        background-color: rgba(0, 0, 0, 0.274);
        padding: 2%;
        margin-left: 2%;
    }

    .rankings h3{
        text-align: center;
        margin-bottom: 3%;
        padding-bottom: 2%;
        border-bottom: 1px solid white;
        font-size: 35px;
        text-shadow: 2px 2px 2px black;
    }
    
    .rankings ol li {
        transition: .6s;
        font-size: 30px;
        display: flex;
        padding: 3%;
        width: 40vh;
        align-items: center;
        border-bottom: 1px solid white;
    }
    
    .rankings ol li::before {
        content: counter(list-item); 
        counter-increment: list-item; 
        margin-right: 25px;
    }
    



    #part-7 h1{
        margin-bottom: 3%;
    }

    .information-italic{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 1%;
    }
    

    #part-7 .footer:hover .hover{
        display: none;
    }

    #part-7 .footer:hover .display{
        display: contents;
    }

    #menuwithlogos{
        display: none;
    }
    
    .body .header nav{
        display: none;
    }

    .body{
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
    }
    
    #bck-img-vid{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    
    .body .header{
        width: 100%;
        background-color: rgba(255, 255, 255, .0);
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        align-items: center;
        min-height: 10vh;
        transition: .6s;
    }

    #part-4 .header{
        background-color: rgba(255, 255, 255, 0.67);
    }

    #part-4 .header:hover{
        background-color: white;
    }
    
    .body .header:hover{
        background-color: rgba(255, 255, 255, .7);
        transition: .6s;
    }
    
    .body .header .logo{
        font-size: 25px;
        color: black;
        text-shadow: 5px 5px 5px(rgba(black, black, black, .3));
    }

    .body .header img{
        max-height: 8vh;
    }
    
    .body .header .header-menu ul{
        display: flex;
        list-style: none;
        transition: .6s;
    } 
    
    .body .header .header-menu ul a{
        text-decoration: none;
        color: black;
        text-shadow: 5px 5px 5px(rgba(black, black, black, .3));
        font-size: 18px;
        margin: 0 15px;
        transition: color .4s;
    }
    
    .body .header .header-menu ul:hover li{
        opacity: .3;
        filter: blur(2px);
        transition: .6s;
    }
    
    .body .header .header-menu ul li:hover{
        opacity: 1;
        filter: blur(0px);
        scale: 1.2;
        background-color: rgba(6, 74, 58, 0.747);
        border-radius: 10px;
        transition: .6s;
    }

    #ucl:hover{
        background-color: #14223E;
    }

    #uel:hover{
        background-color: #c36213;
    }

    #uecl:hover{
        background-color: #11420b;
    }

    #euro:hover{
        background-color: #9fac12;
    }

    #nation:hover{
        background-color: #188294;
    }
    
    .body .header .header-menu ul li a:hover{
        color: #fff;
    }
    
    .body .part-content{
        min-height: 80vh;
        width: 100%;
        display: grid;
    }

    #part-3 .part-content{
        display: flex;
    }
    
    .body .part-content h1{
        text-align: center;
        margin: 3%;
    }
    
    .body .part-content p{
        margin: 1% 5% 3% 5%;
    }

    #part-1 .part-content .content{
        background-color: #00000062;
    } 

    #part-1 .part-content{
        color: white ;
        text-shadow: 2px 2px 2px black;
    }
    
    #part-2 .part-content .content{
        background-color: #ffffff4c;
    }

    .body .part-content .btm-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2%;
    }

    .body .part-content .btm-content img{
        max-height: 20vh;
    }
    
    #part-2 h1{
        text-shadow: 2px 2px 2px black;
    }

    .gallery-top{
        display: flex;
        align-items: center;
        background-color: rgb(243, 243, 243);
        width: 90%;
        margin: 0 auto 20px auto;
        height: 60px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px lightgray;
    }

    .gallery-main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }

    .groups{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 5%;
    }

    .groups .group{
        font-size: 20px;
        min-height: 360px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s;
        padding: 5%;
        transition: .6s;
    }

    #part-4{
        color: white;
    }

    #part-4 .btm-content img{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    

    .groups .champions{
        background-color: rgba(36, 93, 192, 0.692);
        border: 1px solid white;
        color: white;
    }

    .groups .europaleague{
        background-color: rgba(202, 98, 0, 0.692);
        color: black;
    }

    .groups .europaconferenceleague{
        background-color: rgba(46, 161, 36, 0.692);
        color: white;
    }

    .europaconferenceleague ol li img{
        width: 32px;
        height: 32px;
    }

    .groups .europaleague ol li{
        border-bottom: 1px solid black !important;
    }

    .groups .group:hover{
        scale: 1.1;
        transition: .6s;
    }
    
    .groups .group ol li{
        padding: 3%;
        border-bottom: 1px solid white;
        transition: .6s;
    }

    .groups .group ol li:hover{
        scale: 1.1;
        transition: .6s;
    }

    .groups .group ol li img{
        margin: 2%;
    }

    #part-3 h1, #part-4 h1{
        text-shadow: 2px 2px 2px black;

    }

    #part-3 .part-content .content .paragraph-box{
        background-color: #0000008d;
    }

    #part-4 .part-content .content .paragraph-box{
        background-color: #000000c6;
    }

    .paragraph-box p{
        padding: 1%;
        color: white;
    }

    .group h3{
        text-align: center;
        text-shadow: 2px 2px 2px black;
        margin-bottom: 5%;
    }

    .sponsors{
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .campaign{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }

    .campaign img{
        max-height: 12vh;
        margin-left: 3%;
        margin-right: 3%;
    }

    .boxes-area{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }

    .boxes-area .box-link{
        height: 300px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        transition: .5s;
    }

    .boxes-area .box-link img:hover{    
        transform: scale(1.1);
        transition: .5s;
        transition-delay: .1s;
    } 

    .boxes-area .box-link img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
        transition: .5s;
        padding: 5%;
    }
    .body .footer {
        width: 100%;
        background-color: rgba(255, 255, 255, .0);
        display: flex;
        justify-content: center;
        padding: 0 10%;
        align-items: center;
        min-height: 10vh;
        transition: .6s;
        color: #fff;
        text-shadow: 5px 5px 5px(black);
        font-size: large;
        font-weight: 500;
        transition: .6s;
    }
    
    .body .footer .display {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body .footer .display ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    .body .display ul li{
        margin-left: 5%;
    }

    .body .display ul li a{
        text-decoration: none;
        color: white;
    }
    
    .body .footer .hover {
        display: none;
    }
    
    .body .footer:hover {
        background-color: rgba(255, 255, 255, .7);
        color: black;
        transition: .6s;
        min-height: 20vh;
        position: absolute;
        bottom: 0vh;
        display: flex;
    }
    
    .body .footer:hover .display {
        display: none;
    }
    
    .body .footer:hover .hover {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .body .footer:hover .hover ul li i{
        padding-right: 1%;
    }

    #menu-footer li a{
        text-decoration: none !important;
        color: black;
    }

    #menu-footer li a:hover, #menu-footer li:hover{
        color: green;
    }

    .left-links{
        list-style: none;
        text-align: right;
    }

    .body .footer:hover .hover ul  li{
        margin-bottom: 5%;
    }


    .body .footer:hover .hover .footer-center-hover{
        display: grid;
        align-items: center;
        justify-content: space-between;
    }

    .body .footer:hover .hover .footer-center-hover ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    .body .footer:hover .hover .footer-center-hover ul li a{
        text-decoration: none;
        color: black;
    }

    /* .fa-facebook:hover{
        color: rgb(34, 124, 173);
    }

    .fa-twitter:hover{
        color: blue;
    }

    .fa-instagram:hover{
        color: plum;
    }

    .fa-whatsapp:hover{
        color: green;
    }

    .fa-google:hover{
        color: red;
    } */
    
    
}

@media screen and (min-width: 1200px) and (max-width: 1919px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway';
    }

    #part-7 .header-menu{
        display: none;
    }

    #part-7{
        background-color: rgb(217, 178, 217);
        padding-bottom: 5%;
    }

    #part-7 .header{
        background-color: rgb(217, 178, 217);
    }

    #part-7 .footer{
        display: none;
    }
    
    .rankings{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        justify-content: center;
    }

    .rankings ol li:hover{
        background-color: purple;
        color: white;
        scale: 1.2;
        transition: .6s;
    }

    .leagueList{
        background-color: rgba(0, 0, 0, 0.274);
        padding: 2%;
        margin-right: 2%;
        min-width: 40%;
        border-radius: 20px;
    }

    .countrylist{
        background-color: rgba(0, 0, 0, 0.274);
        padding: 2%;
        margin-left: 2%;
        min-width: 40%;
        border-radius: 20px;
    }

    .rankings h3{
        text-align: center;
        margin-bottom: 3%;
        padding-bottom: 2%;
        border-bottom: 1px solid white;
        font-size: 30px;
        text-shadow: 2px 2px 2px black;
        color: white;
    }
    
    .rankings ol li {
        transition: .6s;
        font-size: 20px;
        display: flex;
        padding: 3%;
        width: 90%;
        align-items: center;
        border-bottom: 1px solid white;
        color: white;
    }

    .rankings ol li img{
        width: 52.5px;
        height: 34.5px;
    }
    
    .rankings ol li::before {
        content: counter(list-item); 
        counter-increment: list-item; 
        margin-right: 25px;
    }
    



    #part-7 h1{
        margin-bottom: 3%;
    }

    .information-italic{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 1%;
    }
    

    #part-7 .footer:hover .hover{
        display: none;
    }

    #part-7 .footer:hover .display{
        display: contents;
    }

    #menuwithtext{
        display: none;
    }

    #menuwithlogos img{
        max-height: 6vh;
    }
    
    .body .header nav{
        display: none;
    }

    .body{
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        top: 0;
        left: 0;
    }
    
    #bck-img-vid{
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .body .header{
        width: 100%;
        background-color: rgba(255, 255, 255, .0);
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        align-items: center;
        min-height: 10vh;
        transition: .6s;
    }

    #part-4 .header{
        background-color: rgba(255, 255, 255, 0.67);
    }

    #part-4 .header:hover{
        background-color: white;
    }
    
    .body .header:hover{
        background-color: rgba(255, 255, 255, .7);
        transition: .6s;
    }
    
    .body .header .logo{
        font-size: 25px;
        color: black;
        text-shadow: 5px 5px 5px(rgba(black, black, black, .3));
    }

    .body .header img{
        max-height: 7vh;
    }
    
    .body .header .header-menu ul{
        display: flex;
        list-style: none;
        transition: .6s;
    } 
    
    .body .header .header-menu ul a{
        text-decoration: none;
        color: black;
        text-shadow: 5px 5px 5px(rgba(black, black, black, .3));
        font-size: 18px;
        margin: 0 15px;
        transition: color .4s;
    }
    
    .body .header .header-menu ul:hover li{
        opacity: .3;
        filter: blur(2px);
        transition: .6s;
    }
    
    .body .header .header-menu ul li:hover{
        opacity: 1;
        filter: blur(0px);
        scale: 1.2;
        border-radius: 10px;
        transition: .6s;
    }
    
    .body .header .header-menu ul li a:hover{
        color: #fff;
    }
    
    .body .part-content{
        min-height: 80vh;
        width: 100%;
        display: grid;
    }

    #part-3 .part-content{
        display: flex;
    }
    
    .body .part-content h1{
        text-align: center;
        margin: 3%;
    }
    
    .body .part-content p{
        margin: 1% 5% 3% 5%;
    }

    #part-1 .part-content .content{
        background-color: #00000062;
    } 

    #part-1 .part-content{
        color: white ;
        text-shadow: 2px 2px 2px black;
    }
    
    #part-2 .part-content .content{
        background-color: #ffffff4c;
    }

    .body .part-content .btm-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2%;
    }

    .body .part-content .btm-content img{
        max-height: 20vh;
    }
    
    #part-2 h1{
        text-shadow: 2px 2px 2px black;
    }

    .gallery-top{
        display: flex;
        align-items: center;
        background-color: rgb(243, 243, 243);
        width: 90%;
        margin: 0 auto 20px auto;
        height: 60px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px lightgray;
    }

    .gallery-main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }

    .groups{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 5%;
    }

    .groups .group{
        font-size: 20px;
        min-height: 360px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s;
        padding: 5%;
        transition: .6s;
    }

    #part-4{
        color: white;
    }

    #part-4 .btm-content img{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
    }
    

    .groups .champions{
        background-color: rgba(36, 93, 192, 0.692);
        border: 1px solid white;
        color: white;
    }

    .groups .europaleague{
        background-color: rgba(202, 98, 0, 0.692);
        color: black;
    }

    .groups .europaconferenceleague{
        background-color: rgba(46, 161, 36, 0.692);
        color: white;
    }

    .europaconferenceleague ol li img{
        width: 32px;
        height: 32px;
    }

    .groups .europaleague ol li{
        border-bottom: 1px solid black !important;
    }

    .groups .group:hover{
        scale: 1.1;
        transition: .6s;
    }
    
    .groups .group ol li{
        padding: 3%;
        border-bottom: 1px solid white;
        transition: .6s;
    }

    .groups .group ol li:hover{
        scale: 1.1;
        transition: .6s;
    }

    .groups .group ol li img{
        margin: 2%;
    }

    #part-3 h1, #part-4 h1{
        text-shadow: 2px 2px 2px black;

    }

    #part-3 .part-content .content .paragraph-box{
        background-color: #0000008d;
    }

    #part-4 .part-content .content .paragraph-box{
        background-color: #000000c6;
    }

    .paragraph-box p{
        padding: 1%;
        color: white;
    }

    .group h3{
        text-align: center;
        text-shadow: 2px 2px 2px black;
        margin-bottom: 5%;
    }

    .sponsors{
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .campaign{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5%;
    }

    .campaign img{
        max-height: 12vh;
        margin-left: 3%;
        margin-right: 3%;
    }

    .boxes-area{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }

    .boxes-area .box-link{
        height: 300px;
        border-radius: 10px;
        box-shadow: 3px 3px 5px lightgray;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
        transition: .5s;
    }

    .boxes-area .box-link img:hover{    
        transform: scale(1.1);
        transition: .5s;
        transition-delay: .1s;
    } 

    .boxes-area .box-link img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: contain;
        transition: .5s;
        padding: 5%;
    }

    .body .footer {
        width: 100%;
        background-color: rgba(255, 255, 255, .0);
        display: flex;
        justify-content: center;
        padding: 0 10%;
        align-items: center;
        min-height: 10vh;
        transition: .6s;
        color: #fff;
        text-shadow: 5px 5px 5px(black);
        font-size: large;
        font-weight: 500;
        transition: .6s;
    }
    
    .body .footer .display {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body .footer .display ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    .body .display ul li{
        margin-left: 5%;
    }

    .body .display ul li a{
        text-decoration: none;
        color: white;
    }
    
    .body .footer .hover {
        display: none;
    }
    
    .body .footer:hover {
        background-color: rgba(255, 255, 255, .7);
        color: black;
        transition: .6s;
        min-height: 20vh;
        position: absolute;
        bottom: 0vh;
        display: flex;
    }
    
    .body .footer:hover .display {
        display: none;
    }
    
    .body .footer:hover .hover {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .body .footer:hover .hover ul li i{
        padding-right: 1%;
    }

    #menu-footer li a{
        text-decoration: none !important;
        color: black;
    }

    #menu-footer li a:hover, #menu-footer li:hover{
        color: green;
    }

    .left-links{
        list-style: none;
        text-align: right;
    }

    .body .footer:hover .hover ul  li{
        margin-bottom: 5%;
    }


    .body .footer:hover .hover .footer-center-hover{
        display: grid;
        align-items: center;
        justify-content: space-between;
    }

    .body .footer:hover .hover .footer-center-hover ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    .body .footer:hover .hover .footer-center-hover ul li a{
        text-decoration: none;
        color: black;
    }
    
}